
@{
    ViewBag.Title = "BoutiqueDetails";
}
<style>
    body {
        font-family:'Berlin Sans FB';
    }
    h4{
        color:maroon;
    }
</style>
<body>
    <br />
        <h2>
            A Walkthrough Of The Most Premium Watch Service Centre in town!
        </h2>
        <p>
            Time is precious, and we at Yazley Watch Care understand that. As the largest watch retailer in India, we guarantee the highest standards of horological upkeep. We service and repair over 60 of the world’s top luxury watch brands.
        </p>
        <center>
            <div class="row">
                <img src="~/img/service-center-1.jpg" width="35%" height="350" />
                <img src="~/img/service-center-7.jpg" width="35%" height="350" />
                </div><br />
        </center>
        <center><button>@Html.ActionLink("Find a Collection store", "BoutiqueDisplay", "Home")</button><br /><br /></center>
            <h4>Who We Are</h4>
            <h2>ABOUT YAZLEY WATCH CARE</h2>
            <p>Yazley Watch Care services and repairs over 60 of the world’s top luxury watch brands. We operate a state-of-the-art service centre and collection centre in New Delhi. The Yazley service centre ensures that the service concierge is always at your assistance for all repair and service-related matters. Reminiscent of the manufacturing facilities that are usually seen in Swiss environs, the interiors of the Yazley service centre are immaculately white and have been designed astutely keeping in mind the sequence of processes that servicing a watch entails.</p>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/service-center-2.jpg" width="300" height="350" /><br />
                </div>
                <div class="col-md-4">
                    <img src="~/img/service-center-5.jpg" width="300" height="350" /><br />
                </div>
                <div class="col-md-4">
                    <img src="~/img/service-center-6.jpg" width="300" height="350" /><br />
                </div>
            </div><br /><br />

            <h4>What We Do</h4>
            <h2>WE OFFER THE FOLLOWING SERVICES</h2>
            <p>The perks of having your watch serviced at Yazley are many. To start with, the highly skilled and certified engineers handling the timepieces possess a combined experience of almost 100 years in servicing watches, with some of them having studied from the Horological Inspection Institute in Bangalore and having received international exposure and training in Swiss manufactures. These veteran engineers behind the microscopes are constantly at work, immensely patient, and meticulously handle timepieces that need some TLC. The service centre houses the latest high-tech machinery and tools that have been recommended by brands and those which yield optimum results. Executing mechanisms with supreme fastidious care, the watch care practiced here is smooth, efficient and impeccable.</p>
            <br /><br />

            <h4>01. Movement Overhaul</h4>
            <center><img src="~/img/Movement-Overhaul@2x.jpg" width="70%" height="350" /><br /></center>
            <p>A complete servicing of the movement involves the disassembling of the movement, thoroughly cleaning the components and reassembling it with fresh and necessary lubrication. Watches are, in essence, timekeeping machines, which of course have been beautified to capture our attention. Like every other machine, the engine that is propelling the entire functionality, which is the movement beating inside, needs to be oiled regularly. It’s like the engine of an automobile. If we look at the fundamental principles of automobiles and watches, we find that, just like in cars where there are multiple moving parts that require constant maintenance, a watch is also a complex machine that is made up of several moving components including gears, which need to be cleaned and lubricated to ensure that there is as little wear and tear and friction as possible. The theory that is applied here is that the oils and grease used inside lose their properties and become sticky, and instead of lubricating the movement, they create friction and damage the inner mechanism. This is applicable for automobiles as well. In an automobile, the engine transmits energy to the drive shaft, which in turn rotates the wheels. Similarly, in a watch, the mainspring transmits energy into the gear train that rotates the seconds hand. While auto experts recommend that a car should usually be serviced after every 5,000km, when it comes to watches, one must get their timepiece serviced at least every five years. Mechanical watches typically require servicing every four to five years, but a maintenance check-up should be done every two years. In fact, if you notice that your watch is losing or gaining time, it is an indication for you to get the watch checked at a service centre.</p>
            <br /><br />

            <h4>02. Battery Change</h4>
            <center><img src="~/img/Battery-Change@2x.jpg" width="70%" height="350" /><br /></center>
            <p>Quartz watches should be serviced (with a battery change) in every 2 years. Also, one should bear in mind to use only fresh batteries, as a battery is built with self-discharging properties. It loses 15 to 20 percent of its power every year. Hence, it is highly recommended to visit an authorised service centre for any battery replacement issues. An aged battery may leak and damage not just the inner functioning, but even the dial and other watch parts. Battery replacements at Yazley are conducted with utmost precision. As a matter of fact, the engineers at Yazley furnish a one-year guarantee for the new battery as well as for the water resistance.</p>
            <br /><br />

            <h4>03. Ultrasonic Cleaning</h4>
            
            <center><img src="~/img/Ultrasonic-Cleaning@2x.jpg" width="70%" height="350" /><br /></center>
            <p>For cleaning that needs to go a little deeper than wiping your watch down with a soft, damp cloth, Yazley Watch Care provides just what you need. With specialised equipment and the necessary tools, all the crevices on the cases, and in between the lugs and straps, and between the links of bracelets are cleaned thoroughly. This helps get rid of the grime and dirt that can’t be seen with the naked eye, but makes your watch look old and lustreless. With ultrasonic cleaning, your watch’s dapper good looks will be restored to their former glory.</p><br /><br />

            <h4>04. Polishing</h4>
            <center><img src="~/img/Polishing@2x.jpg" width="70%" height="350" /><br /></center>
            <p>Whether it’s a shining, glossy finish or a glorious matte texture that your watch should have, Yazley Watch Care has all the different polishing tools, buffing brushes and attachments to get rid of the scratches on your watch. The metallic surfaces of your watch gleam and glow, as every part is tended to with the utmost care.</p><br /><br />

            <h4>05. Performance Tests</h4>
            <center><img src="~/img/Performance-Tests@2x.jpg" width="70%" height="350" /><br /></center>
            <p>For a mechanical watch, the tests that are conducted include amplitude, time rate, power reserve and beat error, while a quartz watch would call for tests to check battery voltage, current consumption by the movement, coil resistance and EOL parameters. Tests for water resistance in either case are also conducted, and if your watch is not as water resistant as it was when it was new, the seal of the case is fixed, including a replacement of the caseback gasket, if necessary.</p><br /><br />

            <h4>06. Replacement Of Parts</h4>
            <center><img src="~/img/Replacement-Of-Parts@2x.jpg" width="70%" height="350" /><br /></center>
            <p>Through the testing processes, if it is found that components are not functioning as they should, or other parts are damaged, which maybe impacting the performance, Yazley Watch Care offers replacement of all parts. We source the required components from the watch manufacturers themselves to ensure that when the watch is returned to you, it’s just like the brand itself intended it to be.</p><br /><br />

            <h4>07. Strap Change</h4>
            <center><img src="~/img/Strap-Change@2x.jpg" width="70%" height="350" /><br /></center>
            <p>You may need a new leather strap, you may want to replace your damaged metallic bracelet, or you may want to switch between the two types. Yazley Watch Care will take care of it for you. If we don’t have the bracelet or strap required, we’ll place an order for it and ensure that you get the replacement you desire.</p><br /><br />
            
</body>
